/* ---------------------------------------------------------------------
    BANNER
--------------------------------------------------------------------- */

.crop-height {
  /* max-width: 1200px; /* native or declared width of img src (if known) */
  max-height: 700px;
  overflow: hidden;
}

img.scale {
  /* corrects small inline gap at bottom of containing div */
  display: block;
  width: 100%; /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  display: block; /* corrects small inline gap at bottom of containing div */
  width: 100%; /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  /*width: auto\9; 
  /* ie8+9 - use modernizr instead of this \9 hack */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
  /* optionally force a minimum size if img src size is known: */
  /* min-height: 320px; /* max-height of .crop-height */
  /* min-width: 480px; /* proportional to above */
}

.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  zoom: 1;
}

img.flip {
  float: right;
}
